<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @profile.full_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @profile.phone_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Position:</strong>
  <%= @profile.position %>
</p>

<p>
  <strong>Years of experiance:</strong>
  <%= @profile.years_of_experiance %>
</p>

<p>
  <strong>Cover letter:</strong>
  <%= @profile.cover_letter %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @profile.resume %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @profile.reference %>
</p>


